<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/page.css">

    <script data-main="/javascripts/pagemain/tweekmain" src="/javascripts/lib/requirejs/require.js"></script>

	<title>tweek</title>
</head>

<body>
<div id="logo">logo</div>

<div id="navigation">
    <div id="navigation-content">
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">消息</a></li>
            <li><a href="#">收藏</a></li>
            <li><a href="#">我的好友</a></li>
        </ul>
    </div>
</div>

<div id="box-center">
    <div id="talk-box">
        <div id="talk-title">
            <div class="div-left b2i">有什么新鲜事想告诉大家？</div>
            <div class="div-right b2i">还可以输入<span>140</span>字</div>
            <div class="div-right b2i">环太平洋军演</div>
            <div class="clear-both"></div>
        </div>
        <div id="talk-content-wrap">
            <textarea id="talk-content"></textarea>
        </div>
        <div id="talk-publish">
            <div id="publish-button-wrap" class="div-right"><input id="publish-button" name="submit" type="submit" value="发布" /></div>
            <div class="clear-both"></div>
        </div>
    </div>

    <div id="new-feed-listener"><a href="#">有2条新feed，点击查看</a> </div>

    <div id="feed-list-box">hello world!</div>
</div>

<div id="box-right">right</div>







</body>
</html>